body {
    font-family: PT Sans Narrow, Arial, sans-serif;
    font-size: 14px;
     color: #000000;
    font-weight: normal;
    
}

h1 {
    font-family:  PT Sans Narrow, Arial, sans-serif;
    font-size: 30px;
    color:  #000000;
}
h2 {
    font-family: PT Sans Narrow,  Arial, sans-serif;
    font-size: 24px;
     color: #000000;
    font-weight: normal;
    line-height: 30px;
}

.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto
    }
.main-header {
  margin-bottom: 60px;
}
.main-navigation{
  min-height:  70px; 
   width: 780px;
    float: left;
}
.user-block{
     min-height:  70px;
     width: 140px;
    float: right;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}