body {
    font-family: PT Sans Narrow, Arial, sans-serif;
    font-size: 14px;
     color: #000000;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:  PT Sans Narrow, Arial, sans-serif;
    font-size: 30px;
    color:  #000000;
}
h2 {
    font-family: PT Sans Narrow,  Arial, sans-serif;
    font-size: 24px;
     color: #000000;
    font-weight: normal;
    line-height: 30px;
}
figure{
      margin: 0;
    padding: 0;
}

.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: azure;
    }
.main-header {
  margin-bottom: 60px;
    background-color: aquamarine;
}
.main-navigation{
  min-height:  70px; 
   width: 780px;
    float: left;
    background-color: burlywood;
}
.user-block{
     min-height: 70px;
     width: 140px;
    float: right;
    background-color: chartreuse;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
    background-color: bisque;
}
.catalogue{
 margin-bottom: 60px;
    background-color: cornflowerblue;
}
.index{
    padding: 10px 10px;
     margin-bottom: 45px;
    background-color: red;
}
.index-content-left{
  float: left;
  width: 470px;
 background-color: deeppink;
        
}
.index-content-right{
     float: right;
     width: 390px;
    background-color: deepskyblue;
}
.gallery-content{
    margin-bottom: 50px;
}
.previews img{
    display: inline-block;
    margin-right: 20px;
    font-size: 0;
}
.previews img:last-child{
margin-right:0; 
}  
choice-pictures{
    padding: 10px 10px;
     margin-bottom: 45px;
    background-color: red; 
}
.index-content-left-choice{
  float: left;
  width: 195px;  
    background-color: red;
}
.index-content-right-picture{
float: right;
  width: 710px;
    background-color: greenyellow;
}
.product-cards{
    width: 710px;
}
.product-card{
     display: inline-block;
     margin-right:20px;
    width:220px;
    margin-bottom:20px;
    text-align:left;
    vertical-align:top; 
}
.product-card:nth-child(3n){
margin-right:0;
}
.main-footer {
    margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
    background-color: coral;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
background-color: aquamarine;
 
}

.footer-social {
  float: left;
  width: 180px;
background-color: darkgoldenrod;
}

.footer-copyright {
  float: right;
  width: 180px;
background-color: darkorange;
 
}